
<% #link_to 'Request', search_results_path(:id => item.id), method: :get %>
<%= form_tag '/compare' do -%>
    <table>
        <tr>
            <th></th>
            <th>Job1</th>
            <th>Job2</th>
            <th>Location</th>
            <th>Score</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

            <% @search.each do |item| %>
            <%= item.indeed_result.inspect %>
                <tr>
                    <td><%= check_box_tag 'compare[]', item.id, false, id: "compare_#{item.id}" %></td>
                    <td><%= item.job1 %></td>
                    <td><%= item.job2 %></td>
                    <td><%= item.location %></td>
                    <td><%= link_to 'Edit', edit_search_path(item) %></td>
                    <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            <tr>
                <td><%= submit_tag "Compare", class: 'btn btn-primary' %></td>
            </tr>
    </table>
<% end -%>
