
<% if @parsed_result.nil? %>
    <%= @parsed_result.inspect %>
<% end %>

<table>
    <tr>
        <th></th>
        <th>Job1</th>
        <th>Job2</th>
        <th>Location</th>
        <th>Score</th>
        <th>Request Results</th>
    </tr>
    <% @search.each do |item| %>
        <tr>
            <td><%= check_box_tag 'accept' %></td>
            <td><%= item.job1 %></td>
            <td><%= item.job2 %></td>
            <td><%= item.location %></td>
            <td>
                <% item.results.each do |value| %>
                    <%= value.score %>
                <% end %>
            </td>
            <td><%= link_to 'Request', search_results_path(:id => item.id), method: :get %></td>
        </tr>
    <% end %>
</table>
