<h1>Create a Compatibility Search</h1>

<%= render 'searches/error' %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @search do |f| %>

            <%= f.label :job1, "Job 1" %>
            <%= f.text_field :job1, class: 'form-control' %>

            <%= f.label :job2, "Job 2" %>
            <%= f.text_field :job2, class: 'form-control' %>

            <%= f.label :location, "Location" %>
            <%= f.text_field :location, class: 'form-control' %>

            <%= f.submit "Create Search", :disable_with => 'Create Searching...' %>
        <% end %>
    </div>
</div>
